<!DOCTYPE html>
<html>
    <head>
        <title>Papaléguas Corrida</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body ng-app="Aplicativo" style="background-color: #0ed356">
        
        <script src="resources/angular.js"></script>
        <script src="resources/comandos.js"></script>

        <img id="imagem" src="bb26.png" width="40" height="70" alt="bb26"/>
        <label style="vertical-align: top">
            <font size='20'>
            Papaleguas Corrida!
            </font>
        </label>
        
        <div ng-controller="ControllerCorrida as controlador">
            <div style="border:2px solid black">
                <h1>GRAFO!!</h1>
            </div>
            <div ng-show="!controlador.corrida">
                <button type="button" ng-click="controlador.novo()">Novo</button>
            </div>
            <div style="background-color: skyblue" ng-show="controlador.corrida">
                <h4>Selecione a origem e o destino</h4>
                Origem
                <select id="origemList" ng-repeat="bairroOrigem in controlador.bairros">
                    <option>{{bairroOrigem}}</option>
                </select>
                Destino
                <select id="destinoList" ng-repeat="bairroDestino in controlador.bairros">
                    <option>{{bairroDestino}}</option>
                </select>
                <button type="button" ng-click="controlador.calcular(bairroOrigem,bairroDestino)">Calcular</button>
                <button type="button" ng-click="controlador.cancela">Cancelar</button>
            </div>
            <div ng-show="controlador.dados">
                <h4>Detalhes</h4>
                Distancia: <input type="text" id="txtDist" ng-model="controlador.corrida.distancia" disabled="true">
                Tempo: <input type="text" id="txtTempo" ng-model="controlador.corrida.tempo">
                Valor: <input type="number" id="txtDist" ng-model="controlador.corrida.valor">
                <br><button type="button" ng-click="controlador.alterar()">Alterar Dados</button>
            </div>
        </div>
    </body>
</html>